<div class="jumbotron">

<h1>I'm Batman!!</h1>
<p>Find me in app/views/pages/batman.html.erb</p>
</div>

<script>
	$.backstretch("http://www.planwallpaper.com/static/images/batman_arkham_knight.jpg")
</script>
