

<h1>Batman VS Superman</h1>
<p>Find me in app/views/pages/batman_vs_superman.html.erb</p>
</div>

<div>
<script>
	$.backstretch("http://www.planwallpaper.com/static/images/batman_arkham_knight.jpg")
</script>
</div>

<div>
<script>
	$.backstretch("http://static.srcdn.com/wp-content/uploads/Superman-3D-Art.jpg")
</script>
</div>
