

<h1>Batman VS Superman</h1>
<p>Find me in app/views/pages/batman_vs_superman.html.erb</p>

<body>
<section>
	
		<img src="http://www.planwallpaper.com/static/images/2891179-batman-arkham_knight-review_nologo_20150618.jpg">

		<button type="button">
			<a href= "<%= pages_batman_url %>"><b>Batman</b></a>
		</button>

</section>

<section>
	

		<img src="http://static.srcdn.com/wp-content/uploads/Superman-3D-Art.jpg">
		<button type="button">
			<a href= "<%= pages_superman_url %>"><b>Superman</b></a>
		</button>

</section>

<%= yield %>

</body>