<div class="jumbotron">

<h1>This looks like a job for Superman!!</h1>
<p>Find me in app/views/pages/superman.html.erb</p>
</div>

<script>
	$.backstretch("http://static.srcdn.com/wp-content/uploads/Superman-3D-Art.jpg")
</script>